# add ci-cd steps here
name: AIOps-DVC-NLP-project

on: [push]

jobs:
  deploy-runner:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: iterative/setup-cml@v1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      
      - name: cml-run
        env:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip uninstall -y fsspec
          pip install fsspec==2022.7.1

          dvc repro -v

          echo "# REPORTS" >> report.md
          echo "## metrics" >> report.md
          cat scores.json >> report.md
          dvc metrics show >> report.md
          cml-send-comment report.md